/*Global*/
html {
	scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background-size: cover;
    background-color:#161616;
    background-image: url("images/pattern-grey.svg");
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@font-face {
  font-family: 'NFNGroteskBold';
  src:url('fonts/NFNGroteskBold.ttf.woff') format('woff'),
      url('fonts/NFNGroteskBold.ttf.svg#NFNGroteskBold') format('svg'),
      url('fonts/NFNGroteskBold.ttf.eot'),
      url('fonts/NFNGroteskBold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}
a:visited {
    color: black;
}
/* Header */
header {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 20px 8px rgba(0,0,0,0.2);
    z-index: 2;
    background-color: rgb(238, 221, 196, .8);
  }
  h1, h2, h3 {
    font-family: 'NFNGroteskBold';
    text-align: center;
    letter-spacing: 2px;
  }
  header h1 {
    font-size: 38px;
    padding: 0;
    margin: 10px 0;
    color: black;
  }
  header nav {
    float: left;
    position: absolute;
    top: 21px;
    padding-left: 4px;
  }
  #hamburger-btn {
    color: black;
    padding: 6px 8px;
    border-radius: 100%;
  }
  #hamburger-dropdown {
    display: none;
    position: absolute;
    left: 0;
    margin: 24px 0 0 0;
    width: 100vw;
    
    background-color: rgb(202, 175, 160, .8);
    font-size: 32px;
    color:black;
  }
  #hamburger-dropdown ul {
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      padding: 20px 30px;
  }
  #hamburger-dropdown a {
    color: black;
    padding: 10%;
  }
  #hamburger-dropdown a:hover {
    color: rgb(238, 221, 196);
  }
  .dropdown-btn {
      display: none;
  }
  .page-links, .external-links, .contact-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
@media all and (min-width:600px) {
    header {
        display: flex;
    }
    #hamburger-btn {
        display: none;
    }
    header h1 {
        order: 1;
        padding-left: 8px;
    }
    header nav {
        order: 2;
    }
    #hamburger-dropdown {
        display: inline;
        background-color: rgb(238, 221, 196, .8);
    }
    .dropdown-btn {
        display: flex;
        padding-top: -6px;

    }
    .contact-links {
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right: 0;
        flex-direction: column;
        background-color: rgb(238, 221, 196, .8)
    }
}